.container{
    display: flex;
    padding: 30px 80px;
    justify-content: space-between;
}
.container img{
    border: none;
    height: 150px;
    padding-top: 20px;
}
p{
font-style: oblique;
font-size: 25px;
}
ul{
    display: flex;
    gap: 50px;
    padding: 70px 60px;
    list-style-type: none;
}
.linkar{
    color: black;
    text-decoration: unset;
}
.linkar:hover{
    color: red;
    text-decoration:underline;
}
img{
    height: 250px;
    border: solid 2px black;   
    border-radius: 20%;
}
.container2{
    display: flex;
    padding: 0px 85px;
    justify-content:space-between;
}
.son2{
    display: flex;
    padding:0px 60px;

}
.son2 img{
    height: 500;
}
.container3{
display: flex;
justify-content: space-between;
padding-left: 80px;
padding-right: 145px;
}
.history img{
    width: 175px;
    height: 105px;
    border: 1px solid black;
}
.jutsus img{
    width: 175px;
    height: 105px;
    border: 1px solid black;
}
.jinchuuriki img{
    width: 175px;
    height: 105px;
    border: 1px solid black;
}
body{
    background-color: orange;
}
.back{
    width: 100%;
    height: 1000px;

}